.heading-table {
  width: 89%;
  display: flex;
  justify-content: space-around;
}

.fc .fc-toolbar-title {
  font-size: 20px;
}

.form_Work .css-28116y-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0px !important;
}

.form_Work .css-1tlcqt-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0px !important;
}

.form_Work .css-1j615le-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 7.5px 0px !important;
}

.form_Work .css-1ab68zf-MuiAutocomplete-root .MuiAutocomplete-input {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  /* padding: 8px; */
  height: 39px;
  margin-top: 0px;
}

.price_table .css-1tu6adf-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 5px 14px;
}

.login_main_d {
  position: relative;
}

.login_main_d .img_div {
  width: 100%;
  height: 10%;
}

.login_main_d .form_div {
  border: 2px solid transparent;
  border-radius: 12px;
  position: absolute;
  top: 20%;
  right: 10%;
  background-color: white;
  text-align: center;
  padding: 38px 43px;
  width: 27%;
}

.login_main_d .logo_d {
  border: 1px solid white;
  background-color: white;
  width: 15%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 5%;
  left: 20%;
}

/* Dashboard */

.dashboard_main_d {
  position: relative;
}

.dashboard_main_d .ban_img img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dashboard_main_d .heading {
  position: absolute;
  top: 22%;
  left: 5%;
}

.dashboard_main_d .heading .name h2 {
  margin: 0;
  color: white;
}

.dashboard_main_d .heading .name p {
  margin: 0;
  color: white;
}

.dashboard_main_d .graphTotal {
  position: absolute;
  left: 5%;
  bottom: -31%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.dashboard_main_d .graphTotal .boxes {
  background-color: white;
  display: flex;
  width: 24%;
  border-radius: 10px;
  padding: 24px;
  border: 1px solid rgb(208, 208, 208);
}

.dashboard_main_d .graphTotal .boxes .level {
  width: 60px;
  height: 60px;
}

.dashboard_main_d .graphTotal .boxes .level img {
  width: 100%;
}

.dashboard_main_d .graphTotal .boxes .text p {
  color: #8a92a6;
  margin: 0;
}

.dashboard_main_d .graphTotal .boxes .text h5 {
  color: black;
  margin: 0;
}

/* -----------    login page    ----------------- */
.form_loginn input {
  width: 100%;
  border-radius: 10px;
  padding: 12px 10px;
  margin: 10px 0px;
}

.form_loginn button {
  width: 100%;
  /* background-color: blue; */
  background-image: linear-gradient(to right, rgb(62, 28, 255), rgb(8, 0, 115));
  color: white;
  padding: 12px 10px;
  margin: 10px 0px;
  border-radius: 10px;
  border: none;
}

/* ======================      profile    ==================== */
.profile_pge .leftSide {
  width: 80%;
}

.profile_pge .rightSide {
  width: 35%;
}

/* =============    dashboard     --------------- */
.chartsWork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4%;
  margin-bottom: 4%;
}
.chartsWork .innerChart_d {
  border: 2px solid rgb(226, 226, 226);
  border-radius: 12px;
  width: 48%;
  padding: 12px;
  margin-top: 6%;
}

/*signin page styles*/
.paper-view-test {
  background-color: transparent !important;
  box-shadow: none !important;
  padding-top: 80px;
}

/* =============    Button css     --------------- */
.css-a8dfo2-MuiButtonBase-root-MuiButton-root {
  background-color: #001551 !important;
}
.MuiButton-sizeMedium {
  background-color: #001551 !important;
}

.css-41x60c-MuiButtonBase-root-MuiButton-root {
  background-color: #001551 !important;
}
/* =============    Change password page styles     --------------- */
.icon-svg-password .css-4uxqju-MuiSvgIcon-root {
  height: 12px;
  width: 12px;
}

/* =============    login page styles     --------------- */
.snpage-view {
  background-color: #fff;
}
.pfimg-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.left-side-logo {
  width: 250px;
  height: 250px;
  margin-top: 50px;
}
.cnter-top {
  padding-top: 50px;
}
.css-pl4ugn-MuiButtonBase-root-MuiButton-root {
  background-color: #001551 !important;
}
.css-echumz-MuiButtonBase-root-MuiButton-root {
  background-color: #001551 !important;
}
.ban_img {
  /* background-image: url(../Asset/Images/Banner-vi-demo.gif) !important; */
  background-image: url(../Images/Banner-vi-demo.gif) !important;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  border-radius: 15px;
  background-position: center;
}
.v1_board {
  position: absolute;
  width: 100%;
  top: 23px;
}
.v1_quote_btn {
  margin-bottom: 20px !important;
}
.v1_board .v1_h6 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.css-f84ov1-MuiTypography-root {
  display: none;
}
.v1_board .v1-card-h6 {
  font-size: 12px;
  font-weight: 600;
}
.MuiButton-sizeMedium {
  margin-right: 24px !important;
}
.MuiButton-sizeMedium {
  margin-right: 24px !important;
  background-color: #001551 !important;
  color: #ffffff !important;
}
.table-top-status {
  margin-top: 100px;
}

/*Dashboard table css*/
.dash-table {
  margin-top: 0px;
}
.coming-soon {
  padding-top: 20px;
}
.dash-table .css-1xp5r68-MuiFormControl-root-MuiTextField-root {
  margin-top: 2px;
}
.dash-table .MuiTableCell-sizeMedium {
  text-align: left !important;
  color: #12277a;
  /* padding: 3px 9px 0 10px; */
}
/* .dash-table .css-3wds0e-MuiTableCell-root{
text-align: left;
} */
.dash-table .css-qfdd9t {
  align-items: flex-start;
  margin-top: 46px;
}
/*Edit Aircraft Category page*/
.edit-role-category .css-1v24f9t-MuiOutlinedInput-notchedOutline {
  top: -14px;
}

.edit-role-category .css-1tu6adf-MuiInputBase-input-MuiOutlinedInput-input {
  margin-top: 19px;
}
.css-5y2zdi {
  background-color: #001551 !important;
}
.css-1pv2xcc {
  margin-top: 21px;
}
.css-loca4d {
  text-align: left;
}
/*side navigation styles*/
.MuiDrawer-anchorLeft nav {
  background-color: #001551 !important;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  /* overflow-y: scroll; */
  /* height: 100vh; */
}
.MuiDrawer-anchorLeft nav ul li a {
  color: #fff;
}
.MuiDrawer-anchorLeft nav svg {
  color: #fff !important;
}
.MuiListItemText-primary {
  color: #fff !important;
}
.MuiListSubheader-root {
  display: none;
}
.MuiDrawer-anchorLeft nav .Mui-selected {
  background-color: #ff0202 !important;
  border-top-left-radius: 50% 200px;
  border-bottom-right-radius: 50% 200px;
}
/* .MuiDrawer-paper{
    width: 240px !important;
}
.MuiDrawer-docked{
    width: 240px !important;
} */
/*top header bar*/
.css-t3xolk {
  width: 100% !important;
  border-radius: 20px;
  height: 100vh !important;
}

/*Quotions details pop-up*/
.MuiBox-root .fc-button-active {
  background-color: #ff0202 !important;
  border: #ff0202 !important;
}
.MuiBox-root .fc .fc-toolbar-title {
  font-size: 15px;
}
/*card styles*/
.MuiCard-root {
  border-radius: 25px !important;
  text-align: left !important;
}
.card-fligh-label {
  position: relative;
}
.img-flight-label {
  position: absolute;
  right: 0;
  top: 14px;
}

.section-title {
  background-color: #001551 !important;
}
.MuiButton-outlinedPrimary {
  color: #fff !important;
  border: 1px solid #001551 !important;
  border-color: #001551 !important;
}
.MuiListItemButton-root:hover {
  background-color: #ffffff2e !important;
  border-top-left-radius: 50% 200px;
  border-bottom-right-radius: 50% 200px;
}
.MuiTableHead-root th {
  background-color: #001551 !important;
  color: #fff !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.MuiTableRow-root:hover {
  background: #eee;
  color: #fff;
}
.css-1ji9znz {
  padding: 0px !important;
}
.MuiSvgIcon-fontSizeMedium .Mui-completed {
  background-color: #001551 !important;
}
.MuiBox-root.css-1f266ni svg {
  color: #fff !important;
}
.MuiBox-root.css-1f266ni .MuiButtonBase-root {
  background: #001551 !important;
  height: 25px;
  width: 25px;
  margin: 5px;
}
.Mui-active {
  color: #001551 !important;
}
.Mui-completed {
  color: #001551 !important;
}
.popup-person-one .MuiGrid-item {
  height: 69px;
}
.MuiOutlinedInput-root {
  border-radius: 18px !important;
}
.MuiInputLabel-formControl {
  font-size: 14px !important;
}
.MuiOutlinedInput-input {
  font-size: 14px !important;
}
.MuiButton-sizeMedium:hover {
  background: #ff0202 !important;
  border: #ff0202 !important;
}
.MuiButton-text {
  background: #ff0202 !important;
  border: #ff0202 !important;
}
.MuiBreadcrumbs-ol {
  display: none !important;
}
.search_quo1 {
  margin-top: 70px !important;
}
.rest-fiter-btn {
  background: #ff0202 !important;
  border: #ff0202 !important;
  color: #fff !important;
}
.crew-type-v1 {
  margin-top: 0px !important;
}
.MuiAutocomplete-inputRoot {
  min-height: 40px !important;
}
.crew-table-v1 {
  margin-top: 70px;
}
.choose-profile-v1 .MuiPaper-elevation1 {
  height: 40px !important;
}
.manuals-quo-v1 {
  margin-top: 70px;
}

.choose-profile-v1 p {
  font-size: 12px !important;
}
.upload-profile-crew h6 {
  margin-top: -40px;
  font-size: 14px;
}
.view-icon-quote .MuiTypography-h6 {
  background-color: #a0a7bc;
  margin-bottom: 10px;
}
.view-icon-quote .MuiIconButton-root {
  background: #ff0202 !important;
  border: #ff0202 !important;
}
.view-icon-quote .MuiIconButton-root svg {
  color: #fff !important;
}
.v1_board .MuiCardContent-root:hover {
  background-color: #eee !important;
  border: #eee !important;
  color: #000 !important;
}
.MuiTablePagination-toolbar {
  background-color: #eee;
}
.enquirey-data-1 .add-icon-v1 {
  background-color: #001551 !important;
  margin: 0px 5px;
}
.enquirey-data-1 .add-icon-v1 svg {
  color: #fff;
}

.enquirey-data-1 .add-icon-v1:hover {
  background-color: #ff0202 !important;
}
.panel-one .MuiDialogTitle-root {
  background-color: #eee;
}
.MuiBox-root.css-1f266ni .MuiButtonBase-root:hover {
  background: #ff0202 !important;
}
.panel-one .popup-quote-model {
  background-color: #001551 !important;
  height: 25px;
  width: 25px;
  margin: 5px;
}
.panel-one .popup-quote-model .popup-close-panel {
  color: #fff;
  height: 20px;
  width: 20px;
}
.panel-one .popup-quote-model:hover {
  background-color: #ff0202 !important;
}
/*header v1 styels*/
.css-17iyb8u {
  width: 100% !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100% !important;
}
.css-k0sogd {
  margin-top: 0px !important;
}
.css-23htwk .MuiStack-root {
  margin-top: 4px !important;
}
.css-1mth41f {
  margin-top: 0px;
}
.css-1eg89m4 {
  background-color: #001551 !important;
  box-shadow: 0 0 0 2px #001551 !important;
  color: #ffffff;
}
.notification-side-bar .MuiButton-containedPrimary {
  background-color: #001551 !important;

  color: #ffffff;
}

.notification-side-bar .MuiButton-textPrimary {
  background-color: #001551 !important;

  color: #ffffff;
}

.tripcnfrm .Mui-selected {
  background-color: #001551 !important;
}
.leave-format {
  color: #000;
}
.MuiDrawer-docked {
  height: 100vh !important;
}
.calendar-right {
  border: 1px solid #ddd !important;
  padding: 8px !important;
  border-radius: 10px;
  margin-top: 20px;
}

.calendar-right .MuiTypography-h6 {
  background-color: #001551;
  border-radius: 4px;
  padding: 5px;
  color: #fff;
}
.price-units .MuiGrid-spacing-xs-2 {
  /* padding-top: 0px !important; */

  color: #000;
  padding-top: 0px !important;
  color: #000;
  border-bottom: 1px solid #ddd;
  padding-bottom: 7px;
  width: 100%;
  margin-left: 0px !important;
}

.price-units .label-price-c1 {
  background-color: #eee !important;
  border-radius: 5px;
  color: #000;
  width: 100% !important;
  margin-left: 0px !important;
  border-bottom: 0px !important;
}
.price-units .MuiGrid-item {
  padding: 12px !important;
  height: 86px;
}
.price-units {
  border: 1px solid #ddd;
  padding-top: 15px !important;
}
.dashboard-trip h6 {
  font-size: 13px;
}
.top-header-file .MuiButton-outlined {
  border: 0px !important;
  background: #001551 !important;
  color: #fff !important;
}

.top-header-file .MuiButton-outlined:hover {
  background: #ff0202;
}
.filter-date-range {
  border-radius: 29px !important;
}
.inr-width {
  max-width: 5% !important;
}
.review-back-btn {
  height: 37px !important;
}
.invoice-button .MuiButton-containedPrimary {
  background-color: #001551 !important;
  color: #ffffff !important;
  width: auto;
}

.invoice-button .MuiButton-containedPrimary:hover {
  background: #ff0202 !important;
  border: #ff0202 !important;
}
.leave-request .canecl-leave-btn {
  background: #ff0202 !important;
  border: #ff0202 !important;
}
.ground-handlers {
  background-color: #001551 !important;
  height: 25px;
  width: 25px !important;
  margin: 5px !important;
  border-radius: 50% !important;
  color: #fff !important;
}

.ground-handlers:hover {
  background-color: #ff0202 !important;
}
.edit-icon-size {
  font-size: 16px !important;
}
.leave-table {
  background-color: #fff;
}
.sector-map .fromto {
  height: 83px;
  margin-bottom: 20px;
}
.month_calender .MuiDateCalendar-viewTransitionContainer {
  width: 250px;
}

.month_calender .MuiPickersCalendarHeader-root {
  padding-left: 9px;
  padding-right: 70px;
}
.password-styles {
  background: transparent !important;
  color: #ff0202 !important;
}
.password-styles:hover {
  background-color: transparent !important;
  color: #001551 !important;
}
.library-quo-v1 {
  margin-top: 22px;
}
.fiter-apply {
  background-color: #001551 !important;
}
.v1_board .pt-board {
  position: relative;
  bottom: 16px;
}
.enquirey-data-1 .MuiPaper-rounded {
  background-color: transparent;
  box-shadow: none !important;
}
.AccordionSummary_flex {
  display: block !important;
}
.Sector_Typography {
  background-color: #001551 !important;
  border-radius: 10px !important;
  color: #fff !important;
  min-height: 50px !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
}
.Sector_Typography .MuiAccordionSummary-content {
  margin: 8px 0 !important;
}
.Sector_Typography .MuiSvgIcon-root {
  color: #fff !important;
}
.top-border-view1 {
  border: 1px solid #ddd;
  border-radius: 10px;
}
.add_sectors_size {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 500 !important;
  font-size: 1.25rem !important;
  line-height: 1.6 !important;
  letter-spacing: 0.0075em !important;
}
.AccordionSummary_flex .MuiGrid-spacing-xs-2 {
  margin-left: 0px !important;
}

.add-icon-v1 {
  background-color: #001551 !important;
  margin: 0px 5px;
}

.add-icon-v1 svg {
  color: #fff;
}

.add-icon-v1:hover {
  background-color: #ff0202 !important;
}
.crew_leave_type1 {
  padding-top: 50px;
}
.forgot_psd {
  background-color: #ff0202 !important;
  border: #ff0202 !important;
  color: #fff !important;
}
.forgot_rest_btn {
  background-color: #001551 !important;

  color: #ffff !important;
}
.leave_summary_gap .MuiTypography-subtitle2 {
  font-size: 12px;
}
.leave_summary_gap .MuiCardContent-root {
  padding: 8px;
}
.leave_summary_gap .MuiBox-root {
  gap: 8px;
}
.fromto {
  height: 83px;
}
.add_sector_data_1 {
  background-color: #001551 !important;
  color: #fff !important;
}
.add_sector_data_1:hover {
  background-color: #ff0202 !important;
  border: #ff0202 !important;
}
.add_sector_data_2:hover {
  background-color: #ff0202 !important;
  border: #ff0202 !important;
}
.add_sector_data_2 {
  background-color: #001551 !important;
  color: #fff !important;
  min-width: 88px !important;
}
.add_delete_data {
  display: grid !important;
  margin-left: auto !important;
  margin-top: 0px !important;
}
/*security tab css*/
.security_filter_bar {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 8px;
}
.security_tabs_filter {
  background: #fff;
  border-radius: 8px;
}
.security_tabs_filter .Mui-selected {
  color: #001551 !important;
  font-weight: bold;
}
.security_tabs_filter .MuiTabs-indicator {
  background-color: #001551;
}
.security_tabs_filter .MuiTab-textColorPrimary {
  color: #000;
  font-weight: bold;
}
/*quote tab css*/
/* .generate_p2_2{
        padding: 8px 8px !important;
}
.quote_generate_p1_1 {
    padding: 0px 0px;
} */
.Mui-error {
  color: #ff0202 !important;
}
.generate_pi11 {
  width: 99px !important;
  padding: 4px 0px !important;
  font-size: 13px !important;
  margin: 0px !important;
  text-transform: capitalize !important;
}
.generate_pi12 {
  width: 105px !important;
  padding: 4px 0px !important;
  font-size: 13px !important;
  margin: 0px !important;
  text-transform: capitalize !important;
}
.security_tabs_filter .Mui-disabled {
  opacity: 1 !important;
}

.upload-profile-crew .MuiGrid-item {
  min-height: 70px;
}

.upload-profile-crew .MuiButton-textPrimary {
  background-color: transparent !important;
}

.passenger_add_pax .paasenger_details_point {
  background: #001551;
  padding-bottom: 12px;
  color: #fff !important;
}
.passenger_catering {
  height: 1.4375em !important;
}
.passenger_insturctions textarea {
  height: 1.4375em !important;
}
.email_invoice_Preview table {
  margin-top: 50px !important;
}
.paasenger_details_point .takeofficon {
  background-color: #fff;
  height: 26px;
  width: 26px;
  border-radius: 20px;
  padding: 6px;
}
.paasenger_details_point .chip-details {
  background-color: #fff;
}
.resnd_btn {
  background-color: #001551 !important;
  color: #fff !important;
  margin-top: 14px !important;
}
/*ladingpage*/
.ld-page {
  background-color: transparent !important;
  color: #001551 !important;
}
.ld-page:hover {
  background-color: transparent !important;
}
.ld-header-page {
  background-color: transparent !important;
}
.lading-mb-1 {
  width: 100%;
}
.landingpage-view-1 {
  padding: 0px;
}
.landingpage-view-1 .ldicon-1 {
  flex-shrink: 0;
  font-size: 20px;
  color: #cb1338;
  margin-right: 20px;
  line-height: 0;
}

.landingpage-view-1 li {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}
.landingpage-view-1 h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #cb1338;
}
.landingpage-view-1 p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;

  color: #000;
}

/*view-two*/
.landingpage-view-2 {
  padding: 0px;
}
.landingpage-view-2 .ldicon-2 {
  flex-shrink: 0;
  font-size: 20px;
  color: #cb1338;
  margin-right: 20px;
  line-height: 0;
}

.landingpage-view-2 li {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}
.landingpage-view-2 h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  color: #cb1338;
}
.landingpage-view-2 p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;

  color: #000;
}
.landingpage_animation h5 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 22px;
  transition: ease-in-out 0.3s;
  color: #cb1338;
}
.landingpage_animation p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.landingpage_animation .card-landingpage {
  background-color: var(--surface-color);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 24px 30px 33px 70px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.position-relative {
  position: relative !important;
}
.ld-v1-iocn {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
  color: #0dcaf0;
  width: 80px !important;
  height: 80px !important;
}
.left-data-1 {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}

.ld-v2-iocn {
  color: #fd7e14;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v3-iocn {
  color: #20c997;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v4-iocn {
  color: #df1529;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v5-iocn {
  color: #6610f2;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v6-iocn {
  color: #f3268c;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v7-iocn {
  color: #0dcaf0;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v8-iocn {
  color: #fd7e14;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}
.ld-v9-iocn {
  color: #0dcaf0;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v10-iocn {
  color: #df1529;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}
.ld-v11-iocn {
  color: #6610f2;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ld-v12-iocn {
  color: #f3268c;
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;

  width: 80px !important;
  height: 80px !important;
}

.ldbannerv1 {
  background-image: url(../Images/ld-hero-bg1.png) !important;

  width: 100%;
  min-height: 80vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.ldbannerv1 h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
.ldbannerv1 p {
  font-size: 24px;
  color: #fff;
}
.ldbannerv1 .getld {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 12px 28px;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
  background-color: #cb1338;
}
.banner-ld-flight {
  width: 100%;
}
.logo-page-lg {
  max-height: 46px;
  margin-right: 8px;
}
.map-ld-page {
  text-align: center;
}
.iframe-source {
  width: 100%;
  height: 350px;
}
.contact_map {
  margin-bottom: 60px;
}
.footer-page-ld {
  color: #fff !important;
  background-color: #1a0460 !important;
  font-size: 14px;
}
.footer-page-ld{
    color: #fff  !important;;
    background-color: #1a0460 !important;
    font-size: 14px;

}
.manin-lg-page-hd{
    color: #cb1338;
    font-size: 30px;
}
.contact_landing_page{
    color: #cb1338;
    background: #cb133870;
    font-size: 20px;
    width: 44px !important;
    height: 44px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s 
ease-in-out;
    margin-right: 15px;
    padding: 10px;
}
.contact_map_view p{
    color: #cb1338;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
     
}
@media screen and (max-width: 768px) {
.left-side-logo {

    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin: 0 auto;
    display: block;
}
}
.img-flight-label img{
  transition: transform 0.9s ease-in-out;
}

.img-flight-label img:hover{
  transform: scale(1.5);

}
.calen_master{
    width: 21%;
    height: 100px;
    display: inline-block;
    margin-top: 20px;
    
    margin: 9px;
    text-align: center;
  
}
.calen_master p{
text-align: center;
    font-size: 18px;
    font-weight: 700 !important;
    margin-bottom: 6px;
    margin-top: 3px;
    color: #ff0202;
}
.bbvbvbvb{
  background-color: grey;
  height: 20px;
  width: 100%;
}
.bbvbvbvb1{
  background-color: grey;
  height: 20px;
  width: 100%;
}
.calen_master svg{
  display: block;
  margin: 0 auto;
  color: #001551;
}
.alert_master_theme{
  background-color: transparent !important;
  margin-top: 10px;
}
.warning_view{
  background-color: #ff0202 !important;
}